// bower:scss
// endbower

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,button,input,select,textarea{color:#222;}
html{font-size:1em;line-height:1.4;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
audio,canvas,img,video{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color: #000;
    background-image: url('../images/bg-chalk.jpg');
    background-size: contain;
}

body {
    max-width: 1000px;
    margin: auto;
    padding: 120px 1.5% 0;
    font-size: 14px;
    color: #e9e9e9;
    font-family: 'Corki'
}


a {color: #5e9e9d; text-decoration: none;}
a:hover {text-decoration: underline;}

h2 {
    font-family: 'Dancing';
    font-size: 4.5em;
    line-height: 1em;
    font-weight: normal;
    position: relative;
    text-align:center;
    margin: 0.3em 0;
}

/* Using web fonts */
/*
h1, h2, h3, h4 {font-weight: normal; padding: 0; margin: 0 auto;}
header {
    width: 85%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
header h1 {
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    font-family: LiebeErika, sans-serif;
    text-transform: uppercase;
    font-size: 147px;
    display: inline-block;
    line-height: 104px;
    padding: 35px 0 0;
    color: red;
}
header h1 span {
    font-family: Chevalier, serif;
    font-size: 60px;
    vertical-align: top;
    line-height: 70px;
}
header h2 {
    font-family: LiebeErika, sans-serif;
    text-transform: lowercase;
    color: #ccc;
    font-weight: normal;
    font-style: normal;
    font-size: 300%;
    font-weight: normal;
    font-variant: small-caps;
}
*/

#hero {
    width: 85%;
    display: block;
    margin: auto
}

#countdown {margin: 80px auto; padding-left: 90px; }
#countdown a {text-decoration: none; color: inherit;}

#countdown div:first-child {
    width: 45%;
}
#countdown div:last-child {
    width: 55%;
}
#countdown div {
    float: left;
    position: relative;
    font-family: 'Dancing';
    font-size: 4.5em; 
}

#countdown figure {
    font-family: 'Corki';
    font-size: 4em;
    color: #d18251;
    line-height: .8em;
    margin: 0;
}

#countdown figcaption {
    display: inline;
    font-size: .5em;
    color: #e9e9e9;
    position: absolute;
    top: 40px; right: 13%;
}

#countdown img {
    width: 150px;
    position: absolute;
    top: 210px; right: 10%;

    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;    
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {transform: translateX(0%);}
    50% {transform: translateX(8%);}    
    100% {transform: translateX(0%);}            
}

@-webkit-keyframes floating {
    0% {-webkit-transform: translateX(0%);}
    50% {-webkit-transform: translateX(8%);}    
    100% {-webkit-transform: translateX(0%);}            
}

#reception {position: relative;}

#reception p {
    text-align: center;
}

#photo {
    float: left;
    width: 65%;
    position: relative;
    display: block;
}

#shadow {
    width: 65%;
    position: absolute;
    bottom: -14%; left: 0;
}

#reception div {
    text-align: center;
    font-size: 2.7em;
}
#reception img.burl {width: 95%; margin: auto; display: block;}
#reception div p {padding-left: 9%; line-height: 1.1em; margin: 1em auto 0;}
#reception div p a {font-size: .8em; color: #5e9e9d; text-decoration: none;}
#reception div p a:hover {text-decoration: underline;}

#arrow {
    position: absolute;
    bottom: -240px;
    left: -3%;
}

#rsvp {
    text-align: center;
    margin: 0 0 100px;
}

#rsvp iframe {
    max-width: 760px;
}

#faq {
    margin: 0 0 100px;
}
#faq dl {
    float: left;
    width: 40%;
    padding: 0 5% 0 5%;
    font-size: 2em;
    letter-spacing: 1px;
}

#faq dt {
    margin: 25px 0 0; padding: 0;
    position: relative;
}

#faq dt,
#faq dd span {
    color: #d18251;
}

#faq dt:before {
    content:' ';
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 71px; height: 62px;
    position: absolute;
    top: 3px; left: -20%;
    opacity: 0.75;
}

#faq dt:hover:before {
    opacity: 1.0;
}

#faq dl dt:nth-of-type(odd):before,
#faq dl:last-child dt:nth-of-type(even):before {
    background-image: url('../images/bullet-oscar.png');
}

#faq dl dt:nth-of-type(even):before,
#faq dl:last-child dt:nth-of-type(odd):before {
    background-image: url('../images/bullet-henway.png');
}

#faq dd {
    margin: 0; padding: 0;
}

#faq dd a {
    color: #6EA5A2;
}

#faq .hashtag {
    background: url(../images/icon-instagram.png) no-repeat;
    padding-left: 116px;
    height: 106px;
    text-align: left;
    font-size: 1.5em;
    color: #fff;
    line-height: 2.5em;
    margin: 0.7em 0 0;
}

#registry {
    background: url(../images/bg-registry.png) top right no-repeat;
    padding: 0 172px 0 0;
    min-height: 412px;
}

#registry p {
    font-size: 1.7em;
    letter-spacing: 1px;
}
#registry p.honeyfund {
    font-size: 2.5em;
    text-align: center;
}

footer {
    margin: 180px auto;
    font-size: 5em;
    text-align: center;
}

footer img {display: block; width: 85%; margin: 10px auto;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1093px) {
    #faq dt:before {opacity: 1}
}

@media only screen and (max-width: 1000px) {
    #countdown figure {font-size: 3.5em;}
    #countdown img {top: 190px;}
    #arrow {display: none !important;}
}

@media only screen and (max-width: 890px) {
    body {font-size: 13px; padding-top: 100px;}
    #countdown figure {font-size: 3.2em;}
    #countdown img {width: 120px; top: 170px; right: 10%;}
    #reception div {font-size: 2.5em;}
    #faq dl {width: 44%; padding: 0px 3%;}
    #faq dt:before {
        width: 32px;
        height: 32px;
        left: -11.5%;
    }
}

@media only screen and (max-width: 767px) {
    body {font-size: 12px; padding-top: 80px;}
    #registry {min-height:0; padding: 0; background: none;}
}

@media only screen and (max-width: 700px) {
    #hero {width: 100%; display: block; margin: auto;}
    
    #countdown div {
        float: none;
        width: 50%;
        margin: auto;
    }
    
    #countdown div:nth-of-type(1) {margin: 0 auto;}
    
    #countdown figcaption {top: 40px; right: auto;}
    
    #countdown img {
        width: 150px;
        position: absolute;
        top: 318px; right: 110%;
        animation-name: none;
        -webkit-animation-name: none;
                
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
    }
    
    #photo {
        float: none;
        width: 100%;
    }

    #shadow {display: none;}

    #reception div {
        float: none;
        margin: 25px auto 0;
        width: 100%;
        text-align: center;
    }
    #reception div img {width: 70%;}
    #reception div p {padding-left: 0; line-height: 1.1em; margin: 1em auto 0;}
    
    #rsvp {margin: 75px auto;}

    #faq h2 {margin-bottom: 45px;}
    
    #faq dl {float: none; width: 90%; padding: 0 0 0 10%;}
    
    #faq dt:before {width: 40px; height: 40px;}

}

@media only screen and (max-width: 590px) {
    #countdown {padding-left: 0;}
    #hand {display: none;}
}

@media only screen and (max-width: 490px) {
    #countdown {margin: 40px auto 0;}
    #countdown figure {font-size: 2.5em;}
    #countdown div {font-size: 3em;}
    #countdown div:first-child,
    #countdown div:last-child {
        width: 50%;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    #countdown figcaption {
        margin: 0px 0 0 -7px;
        position: static;
    }
    #countdown div {width: 100%; text-align: center;}
    #countdown img {right: auto; left: 30%;}
    #faq h2 {font-size: 3.5em;}
    #faq dl {width: 100%; padding: 0;}
    #faq dt:before {display: none;}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
