@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: false) {
    $angle-per-char: $angle-span / ($num-letters);

    @if $angle-offset == false {
        $angle-offset: -($angle-span/2)
    }

    @for $i from 1 through $num-letters {
        .char#{$i} {
            @include transform(rotate(round($angle-offset + $angle-per-char * $i)))
        }
    }
}

$length: str-length(wedding) + 1;
@include rotated-text($length, 100deg);
